/* Assign text color and background color */
$primary-color: #3D3D3D;
$backgound-color: #6D6D6D;

body {
    color: $primary-color;
    background-color: $backgound-color;
}

p {
    color: $primary-color;
}

h2 {
    background-color: $backgound-color;
}
